* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}
html {
	font-size: 1rem;
}
body {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
	color: $color2;
	font-family: 'Nunito Sans';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	font-size: 0.938rem;
	background: #fff;
	line-height: 1.5;
}
ul,
li {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a,
button {
	transition: all 300ms ease-in-out;
    outline: none !important;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    box-shadow: none;
}
p {
	padding: 0;
	margin: 0;
}
h1 {
    clear: both;
    color: #000;
    font-size: 40px;
    padding: 0;
    font-weight: 700;
}

h2 {
    color: #000;
    font-size: 45px;
    position: relative;
    font-weight: 700;
}

h3 {
    color: #000;
    font-size: 26px;
    font-weight: 600;
}

h4 {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

h6 {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
input {
	box-shadow: none !important;
	outline: none !important;
}
button {
	box-shadow: none;
	outline: none;
	transition: all 0.5s ease-in-out;
}
// ::-webkit-scrollbar-track {
// 	background-color: transparent;
// 	-webkit-border-radius: 5px;
// 	-moz-border-radius: 5px;
// 	border-radius: 5px;
// }

// ::-webkit-scrollbar {
// 	width: 0;
// 	height: 4px;
// 	background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
// 	background-color: transparent;
// 	-webkit-border-radius: 5px;
// 	-moz-border-radius: 5px;
// 	border-radius: 5px;
// }
.container-fluid{
    max-width: 1920px;
}
.container-gap {
	padding-left: 6.25rem;
	padding-right: 6.25rem;
}
.img-block {
	display: block;
	width: 100%;
}
input {
	&[type='number'] {
		-moz-appearance: textfield;
		appearance: textfield;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			margin: 0;
		}
	}
}
.img-blog{
	width: 100%;
	display: block;
}
