.main-header{
    padding: 0.875rem 0;
    background: $color1;
    box-shadow: 0px 0px 38.71px 10.29px rgba(187, 187, 186, 0.36);
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 99;
    &.scroll-on {
        box-shadow: 0px 0px 38.71px 10.29px rgba(187, 187, 186, 0.36);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        padding: 5px 0;
        .logo {
            a {
                img{
                    width: 50px;
                }
            }
        }
    }
}
.logo-area{
    span{
        display: flex; 
        align-items: center; 
        // justify-content: center; 
        gap: 10px;
        margin-bottom: 30px;
    }
    // img{
    //    width: 100px; 
    // }
    flex: 0 0 auto;
    width: 100px;
}
.account-area{
    flex: 0 0 auto;
    width: auto;
    >{
        ul{
            display: flex;
            align-items: center;
            li{
                &:not(:first-child){
                    margin-left: 0.5rem;
                }
            }
        }
    }
}
.logoimg{
    display: block;
    transition: all .3s ease-in-out;
}
.account-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    overflow: clip;
    cursor: pointer;
    img{
        height: 100%;
        width: 100%;
        display: block;
    }
}
.account-details{
    .account-name{
        display: flex;
        align-items: center;
        cursor: pointer;
        p{
            font-size: 1.25rem;
            font-weight: 500;
            padding-left: 0.5rem;
        }
    }
    .account-login {
        position: absolute;
        right: 0;
        top: 50px;
        background: #fff;
        border-radius: 0.5rem;
        padding: 1rem 0;
        max-height: 320px;
        min-width: 220px;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 10%);
        li{
            margin-left: 0 !important;
            a{
                color: #000;
                text-align: left;
                position: relative;
                padding: 0.5rem 1rem;
                display: block;
                font-weight: 600;
                &:hover{
                    background: #ebebeb;
                }
            }
        }
    }
}

.header-logo-area {
    width: 100%;
    padding: 10px 20px; // optional spacing

    .logo-wrapper {
        display: flex;
        justify-content: space-between; // push to both ends
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            img {
                // height: 60px;
                width: auto;
                max-width: 100%;
                display: block;
            }
        }

        /* Right Logo Custom Adjustment - Desktop */
        .logo-right img {
            margin-left: 55px;
            margin-top: -15px;
            margin-right: -30px;
        }
    }
}


/* ========================= */
/* Tablet View (≤ 992px) */
/* ========================= */
@media (max-width: 992px) {
    .header-logo-area {

        .logo-wrapper {

            li img {
                height: 50px;
            }

            .logo-right img {
                margin-left: 30px;
                margin-top: -10px;
                margin-right: -15px;
            }
        }
    }
}


/* ========================= */
/* Mobile View (≤ 576px) */
/* ========================= */
@media (max-width: 576px) {
    .header-logo-area {

        padding: 8px 15px;

        .logo-wrapper {

            li img {
                height: 40px;
            }

            .logo-right img {
                margin-left: 10px;
                margin-top: -5px;
                margin-right: 0;
            }
        }
    }
}
