@mixin frontInput{
    .front-input-style{
        height: 50px;
        border-radius: 0.5rem;
        border: 1px solid #117bb7;
    }
}
@mixin frontSelect{
    .front-select-style{
        height: 50px;
        border-radius: 0.5rem;
        &:focus{
            box-shadow: none;
        }
    }
}
