@import 'bootstrap';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';
@import "/node_modules/select2/dist/css/select2.css";
@import 'all';
@import 'variable';
@import 'mixin';
@import 'defult';
@import 'header';
@import 'common';
@import 'footer';
@import 'loginreg';
@import 'build';
@import 'userdashboard';
@import 'content';
@import 'faq';
@import 'responsive';

// For watch sass --watch styles/scss/style.scss:styles/scss/style.css


